/*
 * Copyright (c) 2025 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 *
 * This keymap was exported from ZMK Studio on 2025-06-16T20:55:10.154Z
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "Base";
            bindings =
                &key_press 458798                 &key_press 458782                 &key_press 458783                 &key_press 458784                 &key_press 458785                 &key_press 458786                 &none                 &none                 &key_press 458787                 &key_press 458788                 &key_press 458789                 &key_press 458790 
                &key_press 458791                 &key_press 458797                 &key_press 458795                 &key_press 458772                 &key_press 458778                 &key_press 458760                 &key_press 458773                 &key_press 458775                 &backlight                 &key_press 458799                 &key_press 458780                 &key_press 458776 
                &key_press 458764                 &key_press 458770                 &key_press 458771                 &key_press 458800                 &key_press 458976                 &key_press 458756                 &key_press 458774                 &key_press 458759                 &key_press 458761                 &key_press 458762                 &backlight 5                 &key_press 458828 
                &key_press 458979                 &key_press 458976                 &key_press 786658                 &key_press 458801                 &key_press 458763                 &key_press 458765                 &key_press 458766                 &key_press 458767                 &key_press 458803                 &key_press 458804                 &key_press 458977                 &key_press 458781 
                &key_press 458779                 &key_press 458758                 &key_press 458777                 &key_press 458757                 &key_press 458826                 &key_press 458827                 &key_press 458769                 &key_press 458768                 &key_press 458806                 &key_press 458807                 &key_press 458808                 &key_press 458981 
                &mod-tap 117899489 458805                 &key_press 458822                 &momentary_layer 2                 &key_press 458834                 &mod-tap 458979 458833                 &key_press 458794                 &key_press 458793                 &key_press 458829                 &key_press 458830                 &key_press 458792                 &key_press 458796                 &key_press 458832 
                &key_press 458831                 &key_press 458799                 &key_press 458800                 &momentary_layer 3
            >;
        };

        fn {
            display-name = "Fn";
            bindings =
                &key_press 458810                 &key_press 458811                 &key_press 458812                 &key_press 458813                 &key_press 458814                 &key_press 458815                 &toggle_layer 1                 &momentary_layer 3                 &key_press 458816                 &key_press 458817                 &key_press 458818                 &key_press 458819 
                &key_press 458820                 &key_press 458821                 &transparent                 &transparent                 &transparent                 &transparent                 &transparent                 &transparent                 &none                 &none                 &transparent                 &transparent 
                &transparent                 &transparent                 &transparent                 &transparent                 &transparent                 &transparent                 &transparent                 &transparent                 &transparent                 &transparent                 &none                 &transparent 
                &transparent                 &transparent                 &transparent                 &none                 &transparent                 &transparent                 &transparent                 &transparent                 &transparent                 &transparent                 &transparent                 &transparent 
                &transparent                 &transparent                 &transparent                 &transparent                 &transparent                 &transparent                 &transparent                 &transparent                 &transparent                 &transparent                 &transparent                 &transparent 
                &transparent                 &transparent                 &transparent                 &transparent                 &transparent                 &transparent                 &transparent                 &transparent                 &transparent                 &transparent                 &transparent                 &transparent 
                &transparent                 &transparent                 &transparent                 &transparent
            >;
        };

        mod {
            display-name = "Mod";
            bindings =
                &none                 &bluetooth 3                 &bluetooth 3 1                 &bluetooth 3 2                 &bluetooth 3 3                 &bluetooth 3 4                 &none                 &transparent                 &none                 &none                 &none                 &none 
                &none                 &none                 &none                 &none                 &none                 &none                 &none                 &none                 &bootloader                 &bootloader                 &none                 &none 
                &none                 &none                 &none                 &none                 &studio_unlock                 &none                 &none                 &none                 &none                 &none                 &none                 &none 
                &none                 &bluetooth                 &key_press 786658                 &battery_level                 &none                 &none                 &none                 &none                 &none                 &none                 &none                 &none 
                &none                 &none                 &macro_ver                 &none                 &none                 &none                 &none                 &none                 &none                 &none                 &none                 &none 
                &none                 &none                 &none                 &none                 &none                 &none                 &none                 &none                 &none                 &backlight 2                 &underglow                 &backlight 3 
                &backlight 4                 &key_press 786665                 &key_press 786666                 &none
            >;
        };

    };
};